<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- PWA for iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="orange">
	<meta name="apple-mobile-web-app-title" content="ぴよクイズ">
	<link rel="apple-touch-icon" href="./images/icon152x152.png">
	<!-- PWA for Android -->
	<link rel="manifest" href="./js/manifest.json">
	<!-- Favicon -->
	<link rel="shortcut icon" href="./images/favicon.ico">
	<!-- Stylesheet -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=M+PLUS+1p">
	<link rel="stylesheet" href="./css/custom.css">
	<title>ぴよクイズ</title>
</head>
<body>
	<div id="app">
		<div v-if="!quiz" class="container">
			<!-- タイトル画面(ここから) -->
			<div id="l-title">ぴよクイズ</div>
			<div id="l-piyo-logo">
				<img v-bind:src="piyoImg">
			</div>
			<div id="l-piyo-msg">
				{{ piyoMsg }}
			</div>
			<div id="l-start">
				<button v-on:click="clickStart"/>クイズ開始</button>
			</div>
			<div>
				イラスト:<a href="https://hiyokoyarou.com/" target="_blank">ぴよたそ</a>
			</div>
			<!-- タイトル画面(ここまで) -->
		</div>
		<div v-else class="container">
			<div v-if="quizIndex < quizes.length">
				<!-- クイズ画面(ここから) -->
				<div id="l-status">
					Key:{{ quiz.key }}_問題:{{ quizIndex+1 }} / {{ quizes.length }}_ok: {{ quiz.ok }} / ng: {{ quiz.ng }}
				</div>
				<div id="l-quiz">
					{{ quiz.msg }}
				</div>
				<div id="l-btns">
					<div v-for="btn of quiz.btns">
						<div v-if="answerFlg">
							<div v-if="quiz.answer==btn">
								<button class="red">{{ btn }}</button>
							</div>
							<div v-else>
								<button class="gray">{{ btn }}</button>
							</div>
						</div>
						<div v-else>
							<button v-on:click="clickAnswer(btn)">{{ btn }}</button>
						</div>
					</div>
				</div>
				<div id="l-piyo-quiz">
					<img v-bind:src="piyoImg">
				</div>
				<div id="l-piyo-msg" v-if="!answerFlg">
					{{ piyoMsg }}
				</div>
				<div v-else>
					{{ quiz.detail }}
				</div>
				<div id="l-next" v-if="answerFlg">
					<div v-if="quizIndex < quizes.length-1">
						<button v-on:click="clickNext">次の問題へ</button>
					</div>
					<div v-else>
						<button v-on:click="clickNext">結果画面へ</button>
					</div>
				</div>
				<div v-else id="l-next"></div>
				<!-- クイズ画面(ここまで) -->
			</div>
			<div v-else>
				<!-- 結果画面(ここから) -->
				<div id="l-status">
					あたり:{{ cntOK }}問, はずれ:{{ cntNG }}問
				</div>
				<div id="l-score">
					得点:{{ quizScore }}点
				</div>
				<div id="l-piyo-result">
					<img v-bind:src="piyoImg">
				</div>
				<div id="l-piyo-msg">
					{{ quizScore }}点ぴよか。<br/>
					<div v-if="90 < quizScore">
						お見事、免許皆伝ぴよ!!
					</div>
					<div v-else-if="60 < quizScore">
						コメントに困る中途半端な点数ぴよー。。。
					</div>
					<div v-else-if="30 < quizScore">
						ぷぷっ、まだまだ詰めが甘いぴよ!!
					</div>
					<div v-else>
						ふはっ、顔を洗って出直すぴよ!!
					</div>
				</div>
				<div id="l-reset">
					<button v-on:click="clickReset"/>タイトルに戻る</button>
				</div>
				<!-- 結果画面(ここまで) -->
			</div>
		</div>
	</div>
	<div id="ad_display_area"></div>
	<div id="l-powered">
		クイズ提供:<a href="https://www.mag2.com/m/0000001414" target="_blank">宿題メール</a>
	</div>
	<!-- JavaScript -->
	<script>
		const imobile_spot_info = {
			pid: "xxxxxx",
			asid: "xxxxxx",
			display_area: [{
				num: 1,
				target_element: "#ad_display_area",
				template: "<a href='{{click_url}}'><img class='radius' src='{{image_url}}'></a>"
			}]
		};
	</script>
	<script src="//spdeliver.i-mobile.co.jp/script/adsnativepc.js" defer></script>
	<script src="//cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js" defer></script>
	<script src="//unpkg.com/vue@next" defer></script>
	<script src="./js/utility.js" defer></script>
	<script src="./js/main.js" defer></script>
</body>
</html>